[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://download.pytorch.org/whl/cu113/"
verify_ssl = true
name = "pytorch"

[packages]
numpy = "*"
pandas = "*"
matplotlib = "*"
seaborn = "*"
scikit-learn = "*"
ipykernel = "*"
torch = {version = "==1.11.0+cu113", index = "pytorch"}
torchvision = {version = "==0.12.0+cu113", index = "pytorch"}
torchmetrics = "*"
wandb = "*"
tqdm = "*"
ipywidgets = "*"
hvplot = "*"
pyro-ppl = "*"
graphviz = "*"

[dev-packages]

[requires]
python_version = "3.10"
